.a{
    border-style: solid;
    border-width: 2px;
    background-color: #676368;
    padding: 10px;
    border-radius: 10px;
}

.b{
    border-style: dashed;
    border-width: 1px;
    background-color: #beb7c0;
    padding: 10px;
    border-radius: 10px;
}